<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:if test="c.error_message != ''">
    <div class="alert alert-error error-explanation">
    <h2>Error</h2>
      <p>${c.error_message}</p>
    </div>
  </py:if>

  <textarea id="query" name="query" rows="13" class="span8">${'SELECT * WHERE { ?s ?p ?o } LIMIT 10' if not c.query else c.query}</textarea>
  <p>Result format: 
    <select id="resultformat" name="resultformat">
      <py:for each="value, text in c.resultformats.items()">
        <option value="${value}" selected="${'selected' if value == c.selectedformat else None}">${text}</option>
      </py:for>
    </select>
  </p>
  <input id="runquery" class="btn btn-primary" name="runquery" type="submit" value="Run query" />
  <br /><br />
  <div id="query-results" py:if="c.queryresults">
      <h3>Query results:</h3>
      <p>*View limited to 50 results</p>
      <table class="table table-striped table-bordered table-condensed">
          <py:for each="i, triple in enumerate(c.queryresults)">
              <py:choose test="">
                  <py:when test="i == 0">
                      <thead>
                          <py:for each="t in triple">
                              <th>${t}</th>
                          </py:for>
                      </thead>
                  </py:when>
                  <py:otherwise>
                      <tbody>
                          <py:for each="t in triple">
                              <td>${t}</td>
                          </py:for>
                      </tbody>
                  </py:otherwise>
              </py:choose>
          </py:for>
      </table>
  </div>
</html>